
.results{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.bottom{
   border-bottom: 1px solid black;
   padding-bottom: 50px;
    position: relative;
}

.response{
       display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 50px;
   padding: 50px;
}

.pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.btnclick{
    width: 100px;
    height: 30px;
    cursor: pointer;

    &:disabled{
        cursor: not-allowed;
    }
}

.out{
position: absolute;
left: -1000px;
transition: left 0.5s ease-in-out;
border: 1px solid black;
padding: 5px;
bottom: 10px;
display: flex;
flex-direction: column;
gap: 20px;

}

.open{
   left: 50%;
}

.buttons{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.btn{
    cursor: pointer;
}