.top{
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.inpyt{
    width: 10%;
    font-size: 15px;
    padding: 7px;
}

.wrapTop{
    display: flex;
    gap: 20px;
    justify-content: center;
}